html {
    height: 100%;
}

.age{
    font-family: 'Press Start 2P', cursive;
    color:white;
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 20px 20px;
}

body {
    
    
    min-height: 100vh;
    text-align: center;
    /* background-color:forestgreen; */
  
}
.container{
    min-height: 100vh;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/848/877/189/8-bit-artwork-sky-landscape-wallpaper-preview.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.name {
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding-top: 30px;
}

.buttons{
    position: relative;
    font-family: 'Press Start 2P', cursive;
    padding: 30px;
    
    
}

.stats {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    font-family: 'Press Start 2P', cursive;
    padding: 250px 0 0 0;
}

/**/

